/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
/* @import url("components/card.css"); */
@import url("components/navbar.css");

/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 16px;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}
.text-center {
  text-align: center;
}

/* Main Sections */
.card {
  border: none;
  background-color: #F5F5F5;
}

#projects {
  background-color: #F5F5F5;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  /* d-flex flex-column align-items-center justify-content-center */
  /* d-flex flex-column align-items-center justify-content-center */
}

.project-title-github-container{
  display: flex;
  align-items: center;   /* Vertical centering */
  justify-content: center;
  /* Horizontal centering */
  margin-bottom: 0;
  margin-top: 1.25rem;
}

p.project-info {
  margin: 0;   /* Removes any margin */
  padding: 0;  /* Removes any padding */
  display: flex;
  align-items: center;      /* Vertical centering */
  justify-content: center;  /* Horizontal centering */
  width: 100%;
  height: 100%;
  max-width: 85%;
  box-sizing: border-box;
}

.section-line {
  border: 0;
  height: 5px;
  width: 50%;
  background-color: #4CAF50;
  margin-top: 1rem; /* Adjusted to rem for scalability */
  margin-bottom: 1rem; /* Adjusted to rem for scalability */
}

#about-me{
  padding: 2.4rem 2.5rem 1.2rem;
  /* left and right 2.5rem */
  /* bottom = no padding */
}
#projects{
  padding: 2.4rem 2.5rem 1.8rem;
}
#contact{
  padding: 2.4rem 2.5rem 7rem;
}

.project-title {
  color: #6A8D92;
}

/* projects-title */
#projects-title{
  margin-bottom: 0rem;
}

/* Project-info */
.project-info{
  padding-top: 1.2rem;
  width: 100%;
}

/*  */

.backend {
  color: rgb(211, 65, 68);
  background-color: rgba(211, 65, 68, 0.1);
  border: solid 1px rgb(211, 65, 68);
}

.frontend {
  color: rgb(64, 129, 209);
  background-color: rgba(64, 129, 209, 0.1);
  border: solid 1px rgb(64, 129, 209);
}

.deployment {
  color: rgb(31, 124, 49);
  background-color: rgba(31, 124, 49, 0.1);
  border: solid 1px rgb(31, 124, 49);
}

.ui-framework{
  color: rgb(112, 85, 198);
  background-color: rgba(112, 85, 198, 0.1);
  border: solid 1px rgb(112, 85, 198);
}

.plus {
  color: #d34144;
}
/* frontend: HTML/SCSS/JavaScript */
/* ui framework: bootstrap */
/* Backed: Rails */
/* Deployment: Heroku */

/* -- Images & Icons */
#prof-pic{
  width: 290px;
  border-radius: 40%;
}

.cards img{
  border-radius: 4%;
}

.github-icons{
  width:30px;
}

.contact-icons{
  width:60px;
}

.paw-time-imgs{
  width:400px;
}

.care-key-imgs{
  height:400px;
}
